#rest-timer-modal {
    background: rgba(0, 0, 0, 0.8);
    display: none;
    position: fixed;
    top:0;
    left: 0;
    padding: 2rem 1rem;
    width: 100%;

    &.active {
        display: block;
    }

    h3 {
        margin: 0 0 0.25rem;
        text-align: center;
    }
}

.rest-timer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    #rest-timer-display {
        font-size: 30px;
        font-weight: bold;
    }

    button {
        font-size: 85%;
        padding: .2rem .35rem;
    }
}
