#create-workout {
    padding-bottom: 2rem;
    position: relative;
}

.workout-routine {
    border-left: 6px solid transparent;
    margin-bottom: 1.5rem;

    &:hover,
    label:hover {
        cursor: pointer;
    }

    &.selected,
    &:hover {
        border-left-color: var(--color-primary);
    }

    input[type="radio"] {
        display: none;
    }
}

#create-workout-submit {
    position: absolute;
    bottom: 0;
    right: 0;
}

/** List of sessions */
#workout-sessions {
    .workout-session {
        margin-bottom: 2rem;

        h2 {
            margin: 0;
        }
    }

    .workout-session-exercises {
        margin: 0 0 0.5rem 1rem;

        ul {
            margin: 0;
            padding-left: 2rem;
        }
    }
}

/** Editing Workout Sessions */
#workout-session {
    .exercise {
        margin-bottom: 3rem;

        .exercise-header {
            align-items: center;
            display: flex;
            gap: 1rem;
            margin-bottom: 0.5rem;

            h2 {
                margin: 0;
            }

            .badge {
                font-size: 85%;
                text-transform: lowercase;
            }
        }
    }
}

.sets-container {
    clear: both;

    .set {
        margin-bottom: 0.5rem;

        &--field-group {
            display: flex;
            align-items: center;

            span {
                display: block;
                padding: 0 .5rem;
            }
        }

        .dummy-delete-set {
            opacity: 0;
        }
    }

    .set--fields {
        display: flex;
        gap: 0.5rem;

        button {
            flex-shrink: 0;
        }
    }

    .add-extra-set {
        display: block;
        margin-top: 1rem;
        width: 100%;
    }
}
